html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  background: #ecfffb;
}

button {
  background-position: center;
  transition: background 0.5s;
  background-color: #2d767f;
  border-radius: 10px;
  height: 50px;
  outline: none;
  color: #fff;
}

button:hover {
  background: #2d767f radial-gradient(circle, transparent 1%, #2d767f 1%)
    center/15000%;
  cursor: pointer;
}

img {
  object-fit: cover;
}

button:active {
  background-color: #b4f1f1;
  background-size: 100%;
  transition: background 0s;
}

.icon-buttons {
  background: #fff;
  border: none;
}

.icon-buttons:hover,
.icon-buttons:active {
  background: #ebedf0;
}

.notifications {
  font-size: 16px;
}

.notification-links {
  text-decoration: none;
  color: black;
}

@media (min-width: 768px) {
  button {
    background-color: #1e6262;
    color: #fff;
    border-radius: 10px;
    height: 50px;
    outline: none;
  }

  button:hover {
    background-color: #389aa6;
    cursor: pointer;
  }
}
